html, body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }
body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(white, #bbb);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #bbb);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #bbb);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #bbb);
  /* Standard syntax (must be last) */ }
body p {
  color: #626262;
  margin-bottom: 2em;
  font-size: 0.9em; }
body h1 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  color: #fff;
  font-family: 'Raleway', sans-serif; }
body h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: bold; }
body h3 {
  color: #00A388;
  font-weight: normal;
  font-family: 'ANTON', sans-serif;
  font-size: 2em;
  margin-bottom: 1em; }
body h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: #00A388; }
body h5 {
  /* font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   color: #0f0f0f;*/ }
body a {
  color: #00A388;
  text-decoration: none; }
body a:link {
  text-decoration: none; }
a:visited {
  text-decoration: none; }
a:hover {
  text-decoration: none; }
a:active {
  text-decoration: none; }
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0; }
a:hover {
  color: #E74C3C;
  font-style: normal;
  text-decoration: none; }
a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */ }
.img-rounded {
  width: 100%; }
.navbar {
  margin-bottom: 0;
  outline: none;
  border-radius: 0;
  -moz-outline-radius: 0;
  -webkit-border-radius: 0;
  text-transform: uppercase; }
header {
  background-color: #E74C3C;
  width: 100%;
  height: auto;
  float: left;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  text-align: center; }
.carousel {
  height: 400px;
  margin-bottom: 60px; }
  .carousel h1 {
    text-shadow: 4px 4px 8px #000;
    color: #fff; }
  .carousel .item {
    height: 400px;
    width: auto;
    background-color: #777;
    color: #fff; }
.carousel-caption {
  color: #fff;
  margin-bottom: 1em; }
  .carousel-caption p {
    color: #fff;
    font-weight: bolder;
    font-size: 1em;
    text-align: center; }
.carousel h1:hover {
  text-shadow: 0 0 0 #000; }
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 400px; }
.trending {
  padding-left: 0;
  list-style-type: none; }
  .trending li {
    padding-bottom: 40px; }
  .trending h4 a {
    color: #2C3E50;
    font-style: italic; }
  .trending a:hover {
    color: #E74C3C;
    font-style: italic; }
  .trending p {
    font-style: normal;
    margin-bottom: 0; }
.newsinfo {
  font-size: 0.7em; }
footer {
  padding: 30px 30px;
  margin-top: 50px;
  text-align: center;
  background-color: #2C3E50;
  width: 100%; }
  footer p {
    color: #fff; }
  footer h3 {
    color: #ccc; }
.form-inline {
  margin-bottom: 2em; }
.social li a {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('icons.png');
  background-repeat: no-repeat;
  background-color: #292B2B;
  text-indent: -9999em;
  margin-left: 0;
  padding: 1em;
  margin-bottom: 1em; }
.social-list {
  list-style-type: none; }
.newslist {
  list-style-type: none;
  padding-left: 0; }
.sm-rss {
  background-position: 0 0; }
.sm-goo {
  background-position: 0 -32px; }
.sm-fac {
  background-position: 0 -64px; }
.sm-twi {
  background-position: 0 -160px; }
.more {
  text-align: center;
  margin: 2em; }
.articletext {
  font-size: 1em;
  max-width: 700px; }
  .articletext h5 a {
    color: #2C3E50;
    font-style: italic; }
  .articletext a:hover {
    color: #E74C3C;
    font-style: italic; }
.articleheader {
  color: #0f0f0f;
  text-align: left;
  font-size: 2.5em; }
.quote {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  font-style: italic; }

/*# sourceMappingURL=app.css.map */
