
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-cinema:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-plane:before { content: '\e804'; } /* '' */
.icon-plug:before { content: '\e805'; } /* '' */
.icon-hospital:before { content: '\e806'; } /* '' */
.icon-restaurant:before { content: '\e807'; } /* '' */
.icon-swimming:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */